# nfit.profiles.cfg
# For typical production environments seeking a balance of performance and cost.

[P-99W1]
nfit_flags = -p 99.75 -w 1

# General Workloads - 3 Tiers
[G1-98W10]
nfit_flags = -p 98 -w 10 --filter-above-perc 25
[G2-95W15]
nfit_flags = -p 95 -w 15 --filter-above-perc 20
[G3-90W20]
nfit_flags = -p 90 -w 20 --filter-above-perc 15

# Online Workloads - 3 Tiers
[O1-98W10]
nfit_flags = -p 98 -w 10 -online -no-weekends --filter-above-perc 25
[O2-95W15]
nfit_flags = -p 95 -w 15 -online -no-weekends --filter-above-perc 20
[O3-90W20]
nfit_flags = -p 90 -w 20 -online -no-weekends --filter-above-perc 15

# Batch Workloads - 3 Tiers
[B1-98W10]
nfit_flags = -p 98 -w 10 -batch --filter-above-perc 25
[B2-95W15]
nfit_flags = -p 95 -w 15 -batch --filter-above-perc 20
[B3-90W20]
nfit_flags = -p 90 -w 20 -batch --filter-above-perc 15
