# nfit.profiles.cfg
# For environments prioritising cost-efficiency, or for non-production workloads.

[P-99W1]
nfit_flags = -p 99.75 -w 1

# General Workloads - 2 Tiers
[G1-95W15]
nfit_flags = -p 95 -w 15 --filter-above-perc 20
[G2-85W30]
nfit_flags = -p 85 -w 30 --filter-above-perc 10

# Online Workloads - 2 Tiers
[O1-95W15]
nfit_flags = -p 95 -w 15 -online -no-weekends --filter-above-perc 20
[O2-85W30]
nfit_flags = -p 85 -w 30 -online -no-weekends --filter-above-perc 10

# Batch Workloads - 2 Tiers
[B1-95W15]
nfit_flags = -p 95 -w 15 -batch --filter-above-perc 20
[B2-85W30]
nfit_flags = -p 85 -w 30 -batch --filter-above-perc 10
