# nfit.profiles.cfg
# For environments where performance and availability are paramount.

[P-99W1]
nfit_flags = -p 99.75 -w 1

[G1-99W5]
nfit_flags = -p 99 -w 5 --filter-above-perc 30

[G2-98W10]
nfit_flags = -p 98 -w 10 --filter-above-perc 25

[G3-95W15]
nfit_flags = -p 95 -w 15 --filter-above-perc 20

[G4-90W15]
nfit_flags = -p 90 -w 15 --filter-above-perc 15

[O1-99W5]
nfit_flags = -p 99 -w 5 -online -no-weekends --filter-above-perc 30

[O2-98W10]
nfit_flags = -p 98 -w 10 -online -no-weekends --filter-above-perc 25

[O3-95W15]
nfit_flags = -p 95 -w 15 -online -no-weekends --filter-above-perc 20

[O4-90W15]
nfit_flags = -p 90 -w 15 -online -no-weekends --filter-above-perc 15

[B1-99W5]
nfit_flags = -p 99 -w 5 -batch --filter-above-perc 30

[B2-98W10]
nfit_flags = -p 98 -w 10 -batch --filter-above-perc 25

[B3-95W15]
nfit_flags = -p 95 -w 15 -batch --filter-above-perc 20

[B4-90W15]
nfit_flags = -p 90 -w 15 -batch --filter-above-perc 15
